* {
    font-family: Arial;
    background-color: black;
}

nav {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    color: #2155CD;
}

.navRight button {
    /* color: #2155CD; */
    background-color: #2155CD;
    margin: 15px 10px;
    border: 1px solid #2155CD;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

.container {
    width: 1000px;
    /* border: 1px solid #2155CD; */
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid blue;
    text-align: center;
    margin: 0 auto;
}

.card h3 {
    color: #2155CD;
}

.card p {
    color: #eaeaea;
}

.card button {
    background-color: #2155CD;
    width: 100%;
    font-size: large;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

